<div class="card">
    <div class="card-body">
      <div class="card-header">
        <div class="row">
          <h5 class="card-title col-sm-7">Behavior Subject Component</h5>
          <button class="btn btn-primary col-sm-5" 
            (click)="subscribeToBehaviorSubject()">Subscribe to Behavior Subject</button>
        </div>
      </div>
      <div class="border min-height-100">
        <h5 class="card-title text-center">Data Window</h5>
        <p class="card-text text-center">{{ data }}</p>
      </div>
    </div>
  </div>