<nav class="row">
    <button routerLink="component-styling" routerLinkActive="active" style="margin:5px;">Component Styling</button>
    <button routerLink="component-interaction" routerLinkActive="active" style="margin:5px;">Component Interaction</button>
    <button routerLink="view-encapsulation" routerLinkActive="active" style="margin:5px;">View Encapsulation</button>
    <button routerLink="directives" routerLinkActive="active" style="margin:5px;">Directives</button>
    <button routerLink="ngx-toastr" routerLinkActive="active" style="margin:5px;">Toastr</button>
    <button routerLink="authentication" routerLinkActive="active" style="margin:5px;">Authentication</button>
    <button routerLink="tree-menu/tree" routerLinkActive="active" style="margin:5px;">Tree Menu</button>
</nav>

<router-outlet></router-outlet>