<nav class="row">
    <button routerLink="component-styling" routerLinkActive="active" class="button" role="button">Component
        Styling</button>
    <button routerLink="component-interaction" routerLinkActive="active" class="button" role="button">Component
        Interaction</button>
    <button routerLink="view-encapsulation" routerLinkActive="active" class="button" role="button">View
        Encapsulation</button>
    <button routerLink="directives" routerLinkActive="active" class="button" role="button">Directives</button>
    <button routerLink="ngx-toastr" routerLinkActive="active" class="button" role="button">Toastr</button>
    <button routerLink="authentication" routerLinkActive="active" class="button" role="button">Authentication</button>
    <button routerLink="tree-menu/tree" routerLinkActive="active" class="button" role="button">Tree
        Menu</button>
    <button routerLink="angular-forms" routerLinkActive="active" class="button" role="button">Forms</button>
</nav>

<router-outlet></router-outlet>