<div class="login">
    <div class="container">
        <div class="logo">ADMIN PANEL LOGIN</div>
        <div class="login-item">

            <form (ngSubmit)="onSubmit()" #myForm="ngForm" class="form form-login">
                <br />

                <div class="form-field">
                    <label class="user" for="login-username"><i class="fa fa-envelope" aria-hidden="true"></i></label>
                    <input id="login-username" type="text" class="form-input" placeholder="Email" required
                        [(ngModel)]="user.email" name="username">
                </div>

                <div class="form-field">
                    <label class="lock" for="login-password"><i class="fa fa-unlock-alt" aria-hidden="true"></i></label>
                    <input id="login-password" type="password" class="form-input" placeholder="Password" required
                        [(ngModel)]="user.password" name="gpassword" [type]="hide ? 'password' : 'text'">
                </div>


                <div class="form-field" style=" flex-direction:column;">
                    <input type="submit" value="Sign in">
                    <mat-progress-bar mode="indeterminate" *ngIf="showprogressbar"></mat-progress-bar>
                </div>

                <div class="form-field">
                    <button mat-button color="warn" type="button" (click)="forgotPassWord()">
                        <i class="fa fa-key" aria-hidden="true"></i> Forget Password</button>
                    <button mat-button type="button" (click)="openModal()" style="color: white;">
                        <i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</button>
                </div>

            </form>
        </div>
    </div>
</div>