<div class="login">
    <div class="container">
        <div class="logo">ADMIN PANEL LOGIN</div>
        <div class="login-item">

            <form (ngSubmit)="onSubmit()" #myForm="ngForm" class="form form-login">
                <br />

                <div class="form-field">
                    <label class="user" for="login-username"><span class="hidden">Username</span></label>
                    <input id="login-username" type="text" class="form-input" placeholder="Username" required
                        [(ngModel)]="user.email" name="username">
                </div>

                <div class="form-field">
                    <label class="lock" for="login-password"><span class="hidden">Password</span></label>
                    <input id="login-password" type="password" class="form-input" placeholder="Password" required
                        [(ngModel)]="user.password" name="gpassword" [type]="hide ? 'password' : 'text'">
                </div>


                <div class="form-field" style=" flex-direction:column;">
                    <input type="submit" value="Log in">
                    <mat-progress-bar mode="indeterminate" *ngIf="showprogressbar"></mat-progress-bar>
                </div>

                <div class="form-field">
                    <button mat-button color="warn" type="button" (click)="OpenModal()">Forgot Password</button>
                    &nbsp;<pre><i>Or</i></pre>&nbsp;
                    <button mat-button color="accent" type="button" (click)="OpenModal()">Sign Up</button>
                </div>

            </form>
        </div>
    </div>
</div>