<h5>Angular Authentication Examples</h5>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="button-4" role="button" href="#">Eventhub</button>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <button class="button-6" role="button" routerLink="/authentication/events" routerLinkActive="active">Events</button>
            </li>
            <li class="nav-item">
                <button class="button-6" role="button" routerLink="/authentication/special" routerLinkActive="active">Members</button>
            </li>
        </ul>
        <ul class="navbar-nav">
            <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/authentication/login"
                routerLinkActive="active">Login</a>
            <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/authentication/register"
                routerLinkActive="active">Register</a>
            <a class="nav-link" style="cursor:pointer" *ngIf="_authService.loggedIn()"
                (click)="_authService.logoutUser()">Logout</a>
        </ul>
    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>