<h2 mat-dialog-title>REGISTER</h2>
<div mat-dialog-content>
  <div class="login-container">
    <div class="login-content">
      <!-- <mat-toolbar class="login-toolbar" color="primary">REGISTER</mat-toolbar> -->
      <mat-card>

        <form [formGroup]="registerForm" #formDirective="ngForm" (ngSubmit)="onSubmit(registerForm, formDirective)">

          <mat-form-field class="mat-form-field-width">
            <mat-icon matPrefix>email</mat-icon>
            <input autofocus type="email" matInput placeholder="Email *" formControlName="email">
            <mat-error *ngIf="checkValidation('email')">
              {{ emaiErrors() }}

            </mat-error>
          </mat-form-field>

          <mat-form-field class="mat-form-field-width">
            <mat-icon matPrefix>person_outline</mat-icon>
            <input autofocus type="text" matInput placeholder="Username *" formControlName="username">
            <mat-error *ngIf="checkValidation('username')">
              {{ fieldRequired }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="mat-form-field-width">
            <mat-icon matPrefix>lock_outline</mat-icon>
            <input type="password" autocomplete="false" matInput placeholder="Password *" formControlName="password">
            <mat-hint>Password of at least eight characters, one uppercase letter and one number</mat-hint>
            <mat-error *ngIf="checkValidation('password')">
              {{ getErrorPassword() }}
            </mat-error>
          </mat-form-field>

          <hr style="margin-top: 20px;">
          <div class="socialMediaFlex">
            <button style="width:50%; margin-bottom: 10px;" [disabled]="registerForm.invalid" type="submit" mat-raised-button
              color="primary">Submit</button>
          </div>

        </form>
      </mat-card>
    </div>
  </div>
</div>
<div mat-dialog-actions align="end">
  <span>
    <button type="button" mat-flat-button color="primary" [mat-dialog-close]="true">
      Clear
    </button>
    <button type="button" mat-stroked-button color="primary" (click)="CloseDialog()">
      Cancel
    </button>
  </span>
</div>