<div class="center">
    <form>
        <div class="row">

            <div class="col-md-12 col-sm-6">
                <div class="form-group row">
                    <label class="col-md-3 col-form-label">First Name</label>
                    <div class="col-md-9">
                        <input type="text" id="firstname" name="firstname">
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-6">
                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Last Name</label>
                    <div class="col-md-9">
                        <input type="text" id="lastname" name="lastname">
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-6">
                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Email</label>
                    <div class="col-md-9">
                        <input type="text" id="email" name="email">
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-6">
                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Geneder</label>
                    <div class="col-md-2">
                        <input type="radio" value="male" id="gender" name="gender"> Male
                    </div>
                    <div class="col-md-2">
                        <input type="radio" value="female" id="gender" name="gender"> Female
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-6">
                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Married</label>
                    <div class="col-md-9">
                        <input type="checkbox" id="isMarried" name="isMarried">
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-6">
                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Country</label>
                    <div class="col-md-9">
                        <select id="country" name="country">
                            <option value="1">India</option>
                            <option value="2">USA</option>
                            <option value="3">England</option>
                            <option value="4">Singapore</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-6">
                <button type="submit">Submit</button>
            </div>

        </div>

    </form>
</div>