<!-- <div *ngIf="!showmenu.visible">
  <mat-toolbar color="primary" fxLayoutAlign="space-between end" style="height: 5vh;">

    <h2> <span class="span"> ANGULAR Demo</span></h2>

    <button mat-icon-button [matMenuTriggerFor]="project">
      <mat-icon style="-webkit-text-fill-color: white;"> account_circle </mat-icon>

      <mat-menu #project="matMenu" [overlapTrigger]="false">
        <button mat-menu-item class="m" (click)="logout()"><span class="m1">Log Out</span></button>
      </mat-menu>
    </button>

  </mat-toolbar>
</div>


<div>
  <div *ngIf="!showmenu.visible1">
    <mat-toolbar class="basic" color="basic"> -->

      <!-- The following menu items will be hidden on both SM and XS screen sizes -->
      <!-- <mat-nav-list>

        <button mat-raised-button routerLink='/application/home' routerLinkActive="active">
          <mat-icon>home</mat-icon>Home </button>

        <button *ngIf="userType === 'admin'" mat-raised-button routerLink='application/AdminAccess/admin-activity'
          routerLinkActive="active">Admin Activity </button>

        <button *ngIf="userType === 'manager'" mat-raised-button routerLink='application/UserManagement/add-users'
          routerLinkActive="active">Register User</button>

      </mat-nav-list>
    </mat-toolbar>
  </div>
</div>

<router-outlet></router-outlet> -->
<app-login></app-login>